<template>
    <div>
        <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
            <el-menu-item index="1">
                <router-link :to="{ name: 'home' }">Home</router-link>
            </el-menu-item>
        </el-menu>

        <el-header class="profile-menu">
            <el-button type="text" @click="dialogVisible = true">
                Auth
                <i class="el-icon-menu"></i>
            </el-button>
            <el-dialog
                title="Authentication"
                :visible.sync="dialogVisible"
                width="30%"
            >
                <authentication @close-dialog="dialogVisible = false"></authentication>
            </el-dialog>

        </el-header>

        <div class="line"></div>
    </div>
</template>

<script>
import Authentication from './Authentication/Authentication'

export default {
    name: 'HeaderIgnet',
    components: {
        Authentication
    },
    data() {
      return {
        activeIndex: '1',
        dialogVisible: false
      };
    },
    methods: {
      handleSelect(key, keyPath) {
        console.log(key, keyPath);
      }
    }
}
</script>


<style scoped>
.profile-menu{
    height: 60px;
    position: absolute;
    top: 5%;
    right: 5%;
}
</style>