<template>
    <div>
        <h1>Laravel 5 Vue SPA Authentication</h1>

        <p>I create application in laravel + vue.js. It is test application...</p>
    </div>
</template>

<script>
export default {
    name: 'Home'
}
</script>

<style scoped>

</style>
