<template>
    <div>
        <el-form ref="form" :model="user" label-width="120px">
            <el-form-item label="Email:">
                <el-input v-model="user.email"></el-input>
            </el-form-item>
            <el-form-item label="Password">
                <el-input v-model="user.password"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" v-on:click="login">Create</el-button>
                <el-button @click="close">Cancel</el-button>
            </el-form-item>
        </el-form>
    </div>
</template>

<script>
export default {
    name: 'Authentication',
    data () {
        return {
            user: {
                email: '',
                password: ''
            }
        }
    },
    methods: {
        login (event) {
            this.$store.dispatch('user/login', this.user)
                .then(() => {
                    this.$router.push('/account');
                })
                .catch(() => {
                })
        },
        close () {
            this.$emit('close-dialog');
        }
    }
}
</script>

<style scoped>

</style>