<template>
    <div>
        test
    </div>
</template>

<script>
export default {
    name: 'Registration',
    data () {
        return {
            test: 'lol! it\'s registration'
        }
    }
}
</script>

<style scoped>

</style>