<template>
    <div>
        <el-container>
            <el-header>
                <header-ignet></header-ignet>
            </el-header>
            <el-main>
                <router-view></router-view>
            </el-main>
        </el-container>
    </div>
</template>

<script>
import HeaderIgnet from './components/HeaderIgnet'

export default {
    name: 'App',
    components: {
        HeaderIgnet
    },
    data () {
        return {
            test: 'test'
        }
    }
}
</script>

<style>

</style>
